$yellow-color: #fdd64b;
$orange-color: rgb(255, 155, 87);
$green-color: #a8e05f;
$green-dark-color: #87c13c;
$pink-color: #fe6a69;

$good-color: $green-color;
$bad-color: $pink-color;
$medium-color: $yellow-color;
