.footer-top {
  padding: 96px 0;
  max-width: 708px;
  margin: 0 auto;
  text-align: center;
  .__heading {
    word-spacing: 2px;
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 15px;
  }
  .__desc {
    margin-bottom: 15px;
  }
  form {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f9fafb;
  }
  input {
    width: 85%;
    padding: 10px;
    &::placeholder {
      color: black;
      font-size: 14px;
      font-weight: 300;
    }
  }
  button {
    width: 15%;
  }
}
