.footer-top {
  padding: 96px 0;
  max-width: 708px;
  margin: 0 auto;
  text-align: center;
  .__heading {
    word-spacing: 2px;
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 15px;
  }
  .__desc {
    margin-bottom: 40px;
  }
  form {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f9fafb;
    border-radius: 6px;
    transition: all 0.2s;
    border: 1px solid transparent;
    &:hover {
      border-color: rgba(0, 0, 0, 0.16);
    }
  }
  form.focus {
    border: 1px solid #5b85ae;
  }
  input {
    width: 95%;
    padding: 12px 15px;
    &::placeholder {
      color: black;
      font-size: 14px;
      font-weight: 300;
    }
  }
  button {
    width: 5%;
    color: #49739a;
  }
}

.footer-middle {
  background-color: #f9fafb;
  padding: 80px 0 160px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.297);
  .container {
    display: flex;
  }
  .__logo {
    margin-right: 118px;
  }
  .footer-menu {
    display: flex;
  }
  .footer-item {
    width: 220px;
    display: flex;
    flex-direction: column;
  }
  .footer-title {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 25px;
  }
  .footer-link {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
    position: relative;
    width: max-content;
    &:hover {
      color: #49739a;
      &::after {
        width: 100%;
        left: 0;
        right: auto;
      }
    }
    &::after {
      position: absolute;
      content: "";
      width: 0;
      height: 3px;
      left: auto;
      bottom: -3px;
      right: 0;
      transition: all 0.3s;
      background-color: #49739a;
    }
  }

  .footer-social {
    margin-left: auto;
    display: flex;
    gap: 0 10px;
  }
  .__social-item {
    a {
      background-color: #67788d;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
    }
  }
}

.footer-bottom {
  background-color: #f9fafb;
  padding: 20px 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-country {
    display: flex;
    gap: 0 5px;
    align-items: center;
    .__image {
      width: 34px;
      height: 24px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    p {
      font-weight: 400;
      font-size: 14px;
    }
  }
  .footer-rules {
    display: flex;
    gap: 0 20px;
    font-size: 14px;
    font-weight: 300;
    a {
      transition: all 0.2s;
      &:hover {
        color: #49739a;
      }
    }
  }
}
