.main-content {
  .container {
    display: flex;
    gap: 0 20px;
  }
  .left-side {
    width: 364px;
  }
  .left-map {
    position: relative;
    height: 484px;
    border-radius: 6px;
    margin-bottom: 30px;
    &:hover img {
      transform: scale(1.1);
    }
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
    }
    .left-map-image {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: inherit;
      img {
        border-radius: inherit;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 1s;
      }
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0.021),
          rgba(0, 0, 0, 0.799)
        );
        top: 0;
        left: 0;
      }
    }
    .left-map-content {
      position: absolute;
      bottom: 30px;
      left: 20px;
      .__title {
        color: #49739a;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      .__desc {
        color: white;
        font-weight: 500;
        line-height: 1.3;
        margin-bottom: 20px;
      }
      button {
        color: white;
        border: 1px solid white;
        font-weight: 300;
        font-size: 13px;
        padding: 7px 15px;
        border-radius: 4px;
        background-color: transparent;
        text-transform: uppercase;
      }
    }
  }
  .left-appmobile {
    position: relative;
    border-radius: 6px;
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
    img {
      border-radius: inherit;
    }
    .left-appmobile-text {
      position: absolute;
      top: 50px;
      text-align: center;
      color: white;
      padding: 0 20px;
      .__title {
        margin-bottom: 20px;
        font-size: 20px;
      }
      .__desc {
        font-size: 14px;
      }
    }
  }
}
